body {
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    background-color: IndianRed;
}

h1 {
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    background-color: DarkRed;
    border-radius: 10px;
}

h2 {
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    background-color: Crimson;
    border-radius: 10px;
}

a {
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
}

p {
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle
}

img {
      border-radius: 10px;
}

.container {
             width: 100%;
             margin:0 auto;
}

frame {
        color: black;
        font-family: sans-serif;
        text-align: center;
        vertical-align: middle;
        border-radius: 10px;
}
